<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="杰普电子商务门户">
    <title>杰普电子商务门户</title>
    <LINK href="../css/main.css" rel=stylesheet>
    <script language="JavaScript" src="../js/main.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/jquery.cookie.min.js"></script>
    <script src="../js/jquery.qrcode.min.js"></script>
</head>
<body id="updatebody"
      onLoad="MM_preloadImages('../images/index_on.gif','../images/reg_on.gif','../images/order_on.gif','../images/top/topxmas/jp_on.gif','../images/top/topxmas/download_on.gif','../images/top/topxmas/bbs_on.gif','../images/top/topxmas/designwz_on.gif')"
      topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">

<div id="header">

</div>


<!--文件体开始-->

<table cellspacing=1 cellpadding=3 align=center class=tableBorder2>
    <tr>
        <td height=25 valign=middle>
            <img src="../images/Forum_nav.gif" align="absmiddle">
            <a href=../index.html>杰普电子商务门户</a> → 用户信息修改 | <b id="update-inform" style="color: red;font-size: 20px"></b>
        </td>
    </tr>
</table>
<br>

<!--------------------------------用户信息---------------------------------->
<form id="update-form" name="reg">
    <table cellpadding="3" cellspacing="1" align="center" class="tableborder1" id="modify-table">
        <tr>
            <td valign="middle" colspan="2" align="center" height="25" background="images/bg2.gif">
                <font color="#ffffff"><b>用户信息</b></font></td>
        </tr>
        <tr>
            <td width="40%" class="tablebody1"><b></b>：<br>
                注册用户名长度限制为0－16字节
            </td>
            <td width="60%" class="tablebody1">

                <input maxLength="8" size="32" name="id" :value="customer.id"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000"
                       hidden/>
                <input maxLength="8" size="32" name="name" :value="customer.name"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000"
                       disabled/>
                <font color="#FF0000">*</font>

                <b id="reg-inform-name"></b>

            </td>

        </tr>
        <tr>
            <td width="40%" class="tablebody1"><b>密码(至少6位，至多8位)</b>：<br>
                请输入密码，区分大小写。<br>
                请不要使用任何类似 \'*\'、\' \' 或 HTML 字符'
            </td>
            <td width="60%" class="tablebody1">
                <input id="update-password" type="password" maxLength="8" size="32" name="password"
                       :value="customer.password"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000"
                       onblur="checkReg()">
                <font color="#FF0000">*</font>
                <b id="reg-inform-password"></b>

            </td>
        </tr>
        <tr>
            <td width="40%" class="tablebody1"><b>密码(至少6位，至多8位)</b>：<br>
                请再输一遍确认
            </td>
            <td class="tablebody1">
                <input id="update-password2" type="password" maxLength="8" size="32" name="password2"
                       :value="customer.password"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000"
                       onblur="checkReg()">
                <font color="#FF0000">*</font>
                <b id="reg-inform-password2"></b>
            </td>
        </tr>
        <tr>
            <td class="tablebody1"><b>所在地区</b>：</td>
            <td class="tablebody1">

                <span id="countryVue">
                    <select v-model="selected" name="country">
                        <option v-for=" option in options" :value="option.value">{{option.text}}</option>
                    </select>
                </span>

                <span id="provinceVue">
                    <select v-model="selected" name="province">
                        <option v-for="option in options" :value="option.value">
                            {{option.text}}
                        </option>
                    </select>
                </span>

                <input type="text" size="8" name="city" :value="city"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000">市/县
            </td>
        </tr>
        <tr>
            <td class="tablebody1"><b>联系地址</b>：</td>
            <td class="tablebody1">
                <input id="update-address" type="text" size="64" maxlength="32" name="street" :value="street"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000">
            </td>
        </tr>

        <tr>
            <td class="tablebody1"><b>邮编</b>：</td>
            <td class="tablebody1">
                <input id="update-zip" type="text" size="32" maxlength="8" name="zip" :value="customer.zip"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000">
            </td>
        </tr>
        <tr>
            <td class="tablebody1"><b>手机</b>：</td>
            <td class="tablebody1">
                <input id="update-telephone" type="text" size="32" maxlength="16" name="telephone"
                       :value="customer.telephone"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000">
            </td>
        </tr>
        <tr>
            <td class="tablebody1"><b>Email地址</b>：<br>
                请输入有效的邮件地址
            </td>
            <td class="tablebody1">
                <input id="update-email" maxLength="50" size="32" maxlength="32" name="email" :value="customer.email"
                       style="font-family: Tahoma,Verdana,宋体; font-size: 12px; line-height: 15px; color: #000000"></td>
        </tr>
        <tr>
            <td class="tablebody2" valign="middle" colspan="2" align="center">
                <input type="button" value="修改" onclick="updateCustomer()">&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</form>
<!--文件尾开始-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="28">
    <tr>
        <td height="17" background="images/bot_bg.gif">
            　
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td bgcolor="#f1f1f6" height="53" valign="center">
            <p align="center">Copyright &copy;2004 - 2013
                <a href="http://www.briup.com.cn"> <b><font face="Verdana,">briup</font>
                    <font color=#CC0000>.com.cn</font></b><br>
                </a>
            </p>

        </td>
    </tr>
</table>
</body>
<script>
    if (checkLogin()) {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
        var customer = JSON.parse($.cookie('customer'));
        var addr = customer.address;
        var arr = addr.toString().split("#");
        var coun = arr[0];
        var prov = arr[1];
        var city = arr[2];
        var street = arr[3];
        console.log(customer);

        //国家信息显示
        var countryVue = new Vue({
            el: "#countryVue",
            data: {
                selected: coun,
                options: [
                    {text: '中国', value: '中国'},
                    {text: '中国香港', value: '中国香港'},
                    {text: '中国台湾', value: '中国台湾'},
                ]
            }
        });
        //省份信息显示
        var provinceVue = new Vue({
            el: "#provinceVue",
            data: {
                selected: prov,
                options: [
                    {text: '安徽', value: '安徽'},

                    {text: '北京', value: '北京'},

                    {text: '重庆', value: '重庆'},

                    {text: '福建', value: '福建'},

                    {text: '广东', value: '广东'},

                    {text: '甘肃', value: '甘肃'},

                    {text: '广西', value: '广西'},

                    {text: '贵州', value: '贵州'},

                    {text: '河南', value: '河南'},

                    {text: '湖北', value: '湖北'},

                    {text: '河北', value: '河北'},

                    {text: '海南', value: '海南'},

                    {text: '香港', value: '香港'},

                    {text: '黑龙江', value: '黑龙江'},

                    {text: '湖南', value: '湖南'},

                    {text: '吉林', value: '吉林'},

                    {text: '江苏', value: '江苏'},

                    {text: '江西', value: '江西'},

                    {text: '辽宁', value: '辽宁'},

                    {text: '澳门', value: '澳门'},

                    {text: '内蒙古', value: '内蒙古'},

                    {text: '宁夏', value: '宁夏'},

                    {text: '青海', value: '青海'},

                    {text: '四川', value: '四川'},

                    {text: '山东', value: '山东'},

                    {text: '上海', value: '上海'},

                    {text: '陕西', value: '陕西'},

                    {text: '山西', value: '山西'},

                    {text: '天津', value: '天津'},

                    {text: '台湾', value: '台湾'},

                    {text: '新疆', value: '新疆'},

                    {text: '西藏', value: '西藏'},

                    {text: '云南', value: '云南'},

                    {text: '浙江', value: '浙江'},

                    {text: '其它', value: '其它'}
                ]
            }
        });
        new Vue({
            el: "#modify-table",
            data: {
                customer: customer,
                city: city,
                street: street
            }
        });
    }

</script>
</html>